<h2 class="fw-bold"><%= t('.title', resource: resource.model_name.human) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating">
    <%= f.text_field :name, autocomplete: "name",
    class: "form-control", id: "floatingName", placeholder: "名前" %>
    <label for="floatingName">名前</label>
  </div>

  <div class="form-floating mb-3">
    <%= f.email_field :email, autocomplete: "email",
    class: "form-control", id: "floatingEmail", placeholder: "Eメール" %>
    <label for="floatingEmail">Eメール</label>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>
  <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "new-password",
    class: "form-control", id: "floatingPassword", placeholder: "パスワード" %>
    <label for="floatingPassword">パスワード</label>
  </div>

  <div class="form-floating">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
    class: "form-control", id: "floatingPasswordConfirmation", placeholder: "パスワード（確認用）" %>
    <label for="floatingPasswordConfirmation">パスワード（確認用）</label>
  </div>
  <% if @minimum_password_length %>
    <em>※パスワードは6字以上</em>
  <% end %><br />

  <%= f.label :current_password, class: "mt-3" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
  <div class="form-floating">
    <%= f.password_field :current_password, autocomplete: "current-password",
    class: "form-control", id: "floatingCurrentPassword", placeholder: "現在のパスワード" %>
    <label for="floatingCurrentPassword">現在のパスワード</label>
  </div>

  <div class="file-field">
    <%= f.label :avatar %><em><small> ※任意</small></em>
    <%= f.file_field :avatar ,class: "form-control", id: "formFile" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class: "btn btn-outline-primary px-3"  %>
  </div>
<% end %>

<h3><%= t('.cancel_my_account') %></h3>

<p>
  <%= t('.unhappy') %>
  <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-outline-danger px-3"  %>
</p>

<%= link_to t('devise.shared.links.back'), 'javascript:history.back()' %>
