<h1>回答結果</h1>

<h2 class="hstack"><%= @psychology_test.title %>
  <%= render "favorites/favorite_button", p_test: @psychology_test %>
</h2>
<small>
  回答日時一覧:
  <%= times = @user.answers.scoped_by_psychology_test(@psychology_test).answered_times.sort.reverse %>
</small>
<p><small>※直近の回答結果を下記に表示しています。</small></p>
<h3>補足情報</h3>
<small>※結果とあわせてご確認ください</small>

<p class="mt-2">
  <%= icon("link") %>
  <%= link_to @psychology_test.referrer, @psychology_test.referrer_url, target: :_blank, rel: "noopener noreferrer" %>
</p>
<% @psychology_test.supplementary_informations.each do |info|%>
  <p>
    <%= icon("link") %>
    <%= link_to info.site_name, info.site_url, target: :_blank, rel: "noopener noreferrer" %>
  </p>
<% end %>
<hr>

<% personality_points = [] %>

<div class="hstack row row-cols-1 row-cols-md-2">
  <div class="personality col-md-6">
    <% @psychology_test.personalities.each do |personality| %>
      <% points = @user.answers.scoped_by_personality(personality).points_with_answered_times[times[0]].collect(&:point) %>
      <% if personality.scoring_system == 1 %>
        <% point = points.sum %>
      <% elsif personality.scoring_system == 2 %>
        <% point = points.sum.fdiv(points.size).round(1) %>
      <% end %>
      <h3><%= "#{personality.name} : #{point}点" %></h3>
      <%= simple_format(personality.description) %>
      <% personality_points << [personality.name, point] %>
    <% end %>
  </div>

  <% chart_max = Question.scoped_by_test(@psychology_test).sum(:choice_max_point) / @psychology_test.personalities.count(:id) %>
  <% if @psychology_test.personalities.first.scoring_system == 2 %>
    <% chart_max = Question.scoped_by_test(@psychology_test).sum(:choice_max_point) / Question.scoped_by_test(@psychology_test).count %>
  <% end %>
  <div class="answer-chart col-md-6">
    <%= bar_chart personality_points, max: chart_max, height: "400px", colors: ["#00b379"] %>
  </div>

</div>

<hr>
<h3>回答詳細</h3>
<hr>

<div class="container">
  <% Question.where(personality: Personality.where(psychology_test: @psychology_test)).order(:id).each_with_index do |question, i| %>
    <p class="col-md-8"><%= "#{i+1}. #{question.title}" %></p>
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2"><%= question.choice_min_word %></div>
        <% question_point = @user.answers.where(question: question).points_with_answered_times[times[0]].first.point %>
        <% choice_points = (question.choice_min_point..question.choice_max_point).to_a %>
        <% choice_points.reverse! if question.point_reversal? %>
        <% midpoint = (question.choice_min_point + question.choice_max_point)/2.to_f %>
        <div class="col-6 col-md-4 hstack d-flex justify-content-between">
          <% choice_points.each do |point| %>
            <% question_point == point ? check = true : check = false %>
            <%= radio_button :answer, question.id, point, {
          style: "transform:scale(#{((midpoint - point).abs/2.to_f) + 1})",
          checked: check,
          } %>
            <%= label :answer_point, "" %>
          <% end %>
        </div>
        <div class="col-3 col-md-2"><%= question.choice_max_word %></div>
      </div>
    </div>
    <hr class="question-border">
  <% end %>
</div>
