<h1>回答結果</h1>
<small>
  回答日時:
  <%= times = current_user.answers.scoped_by_psychology_test(@psychology_test).answered_times.sort.reverse %>
</small>
<p>※直近の回答結果を下記に表示します。</p>

<h2><%= @psychology_test.title %></h2>
<h3>補足情報</h3>
<p><%= link_to @psychology_test.referrer, @psychology_test.referrer_url, target: :_blank, rel: "noopener noreferrer" %></p>
<% @psychology_test.supplementary_informations.each do |info|%>
  <p><%= link_to info.site_name, info.site_url, target: :_blank, rel: "noopener noreferrer" %></p>
<% end %>
<hr>

<% @psychology_test.personalities.each do |personality| %>
  <h3><%= personality.name %></h3>
  <p><%= personality.description %></p>
  <% points = current_user.answers.scoped_by_personality(personality).points_with_answered_times[times[0]].collect(&:point) %>
  <%# TODO: ↓Personalityモデルでスコープ化できるかも %>
  <% if personality.scoring_system == 1 %>
    <p><%= points.sum %></p>
  <% elsif personality.scoring_system == 2 %>
    <p><%= points.sum.fdiv(points.size) %></p>
  <% end %>
<% end %>
