<h1>心理テスト一覧</h1>

<%= search_form_for @test_search do |f| %>
  <div>
    <%= f.label :title_cont, "タイトル：" %>
    <%= f.search_field :title_cont %>
  </div>
  <div>
    <%= f.label :categories_id_in, "カテゴリ："%>
    <%= f.collection_check_boxes :categories_id_in, Category.all, :id ,:name %>
  </div>
  <%= f.submit %>
<% end %>
<%# TODO：検索ボタンの隣に並べたい。flexboxで可能か？ あと未回答ボタンの部分のスタイルタグは省きたい %>
<button><%= link_to "未回答のみ表示", psychology_tests_path(unanswered: true), style: "text-decoration:none; color:black" %></button>
<%= button_to "リセット", request.referer, method: :get if request.fullpath.include?("commit") || request.fullpath.include?("unanswered") %>
<small>※未回答表示は、タイトル、カテゴリ検索とは併用不可</small>

<hr>

<% @psychology_tests.each do |p_test| %>
  <h2><%= link_to p_test.title, psychology_test_path(p_test) %></h2>
  <% p_test.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
  <p><strong><%= p_test.description %></strong></p>
  <small>
    参照元:
    <%= link_to p_test.referrer, p_test.referrer_url, target: :_blank, rel: "noopener noreferrer" %>
  </small>
  <%= render "favorites/favorite_button" , p_test: p_test%>
  <hr>
<% end %>
