<h1>心理テスト一覧</h1>

<%= search_form_for @test_search do |f| %>
  <%= f.label :title_cont, "タイトル" %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>
<hr>

<% @psychology_tests.each do |p_test| %>
  <h2><%= link_to p_test.title, psychology_test_path(p_test) %></h2>
  <% p_test.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
  <p><strong><%= p_test.description %></strong></p>
  <small>
    参照元:
    <%= link_to p_test.referrer, p_test.referrer_url, target: :_blank, rel: "noopener noreferrer" %>
  </small>
  <%= render "favorites/favorite_button" , p_test: p_test%>
  <hr>
<% end %>
