<h2 class="fw-bold">心理テスト一覧</h2>

<%= search_form_for @test_search do |f| %>
  <div class="input-group input-group-sm mb-2">
    <%= f.label :title_or_description_or_referrer_cont, "タイトル or 説明 or 参照元" ,class: "input-group-text" %>
    <%= f.search_field :title_or_description_or_referrer_cont, class: "form-control form-control-sm" %>
  </div>

  <div class="mb-2">
    <%= f.label :categories_id_in, "カテゴリ", {class: "input-text category-search"} %>
    <%= f.collection_check_boxes(:categories_id_in, Category.all, :id ,:name) do |b| %>
      <%= b.check_box class: "btn-check" %>
      <%= b.label(class: "btn btn-sm btn-outline-secondary") { b.text } %>
    <% end %>
  </div>
  <%= f.submit class: "btn btn-sm btn-outline-primary px-3" %>
<% end %>
<p class="mb-2"><small>※キーワード検索は「部分一致検索」。カテゴリ検索は「OR検索」。タイトルとカテゴリは「AND検索」</small></p>

<%= link_to "未回答のみ表示", psychology_tests_path(unanswered: true), class: "btn btn-sm btn-outline-primary px-3" %>
<%= link_to psychology_tests_path(favorite: true), class: "btn btn-sm btn-outline-primary px-3" do %>
  <%= icon("star-fill", class: "star-search me-1") %>お気に入りのみ表示
<% end %>
<%= link_to "表示リセット", psychology_tests_path, method: :get, 
class: "btn btn-sm btn-outline-danger px-3 ms-1" if request.fullpath.include?("=") %>
<p><small>※未回答表示、お気に入り表示は、タイトル、カテゴリ検索とは併用不可</small></p>

<hr>

<% unless @psychology_tests.present? %>
  <% if request.fullpath.include?("unanswered") %>
    <h3>全てのテストを回答済みです！</h3>
  <% elsif request.fullpath.include?("favorite") %>
    <h3>お気に入りのテストがありません！</h3>
  <% else %>
    <h3>検索条件に一致するテストはありません！</h3>
  <% end %>
<% end %>

<% @psychology_tests.each do |p_test| %>
  <h3 class="hstack">
    <%= link_to p_test.title, psychology_test_path(p_test) %>
    <%= render "favorites/favorite_button" , p_test: p_test if current_user.present? %>
  </h3>
  <% p_test.categories.each do |category| %>
    <%= tag.p category.name, class: "badge rounded-pill bg-secondary" %>
  <% end %>
  <p><strong><%= p_test.description %></strong></p>
  <small>
    参照元:
    <%= icon("link") %>
    <%= link_to_if p_test.referrer_url.present?, p_test.referrer, p_test.referrer_url,
     target: :_blank, rel: "noopener noreferrer" %>
  </small>
  <hr>
<% end %>
