<h2><%= @psychology_test.title %></h2>
<p><strong><%= @psychology_test.description %></strong></p>
<%= render "favorites/favorite_button" , p_test: @psychology_test%>
<%= simple_format(@psychology_test.how_to_answer) %>
<hr>

<%= form_with(model: @answer, method: :post) do |f| %>
  <% Question.where(personality: Personality.where(psychology_test: @psychology_test)).order(:id).each_with_index do |question, i| %>
    <p><%= "#{i+1}. #{question.title}" %></p>
    <div>
      <%= question.choice_min_word %>
      <% choice_points = (question.choice_min_point..question.choice_max_point).to_a %>
      <% choice_points.reverse! if question.point_reversal? %>
      <% midpoint = (question.choice_min_point + question.choice_max_point)/2.to_f %>
      <% choice_points.each do |point| %>
        <%# TODO: widthなどでサイズ調整が必要そう %>
        <%= f.radio_button question.id, point, {style: "transform:scale(#{((midpoint - point).abs/2.to_f) + 1.0})"} %>
        <%= label :answer_point, "" %>
      <% end %>
      <%= question.choice_max_word %>
    </div>
    <hr class="question-border">
  <% end %>
  <%= f.submit %>
<% end %>
