<h2 class="hstack fw-bold">
  <%= @psychology_test.title %>
  <%= render "favorites/favorite_button" , p_test: @psychology_test %>
</h2>
<p><strong><%= @psychology_test.description %></strong></p>
<%= simple_format(@psychology_test.how_to_answer) %>
<hr>

<%= form_with(model: @answer, method: :post) do |f| %>
  <div class="container">
    <% Question.where(personality: Personality.where(psychology_test: @psychology_test)).order(:id).each_with_index do |question, i| %>
      <p class="col-md-8"><%= "#{i+1}. #{question.title}" %></p>
      <div class="container">
        <div class="row">
          <div class="col-3 col-md-2"><%= question.choice_min_word %></div>
          <% choice_points = (question.choice_min_point..question.choice_max_point).to_a %>
          <% choice_points.reverse! if question.point_reversal? %>
          <% midpoint = (question.choice_min_point + question.choice_max_point)/2.to_f %>
          <div class="col-6 col-md-4 hstack d-flex justify-content-between">
            <% choice_points.each do |point| %>
              <%= f.radio_button question.id, point, {style: "transform:scale(#{((midpoint - point).abs/2.to_f) + 1.0})"} %>
              <%= label :answer_point, "" %>
            <% end %>
          </div>
          <div class="col-3 col-md-2"><%= question.choice_max_word %></div>
        </div>
      </div>
      <hr class="question-border">
    <% end %>
  </div>
  <%= f.hidden_field :psychology_test_id, value: @psychology_test.id %>
  <%= f.submit class: "btn btn-lg btn-outline-primary px-3" %>
<% end %>
