<!DOCTYPE html>
<html>
  <head>
    <title>Psykarte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div>あなたの名前:<%= current_user.name %></div>
        <%= link_to_if current_user.admin?, "管理画面", rails_admin_path %>
        <%# TODO:　マイページ実装したら修正 %>
        <%= link_to "マイページ(実装前）" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "トップ", root_path %>
        <%= link_to '新規登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </header>

    <div>
      <p class="alert alert-notice"><%= notice if notice %></p>
      <p class="alert alert-error"><%= alert if alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
