<!DOCTYPE html>
<html>
  <head>
    <title>Psykarte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="h-100 vstack">
    <!-- <header> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top" id="navbar">
      <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand hstack" do  %>
          <%= icon("clipboard2-heart-fill", class: "heart-fill", width: "28", height: "28") %>
          <h2 class="">
            Psykarte
          </h2>
        <% end %>
        <% if user_signed_in? %>
          <h7 class="text-muted"><%= current_user.name %>
            <small>としてログイン中</small>
          </h7>
        <% end %>

        <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "管理画面", rails_admin_path,
                class: "nav-link" if current_user.admin? %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user),
                class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "心理テスト一覧", psychology_tests_path,
                class: "nav-link", id: "psychology_tests" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path,
                class: "nav-link", method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "トップ", root_path,
              class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path,
              class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path,
              class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post,
              class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ゲスト管理者ログイン", users_guest_admin_sign_in_path, method: :post,
              class: "nav-link" %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>
    <!-- </header> -->

    <div class="container h-100">
      <%= tag.p notice, class:"alert alert-notice alert-primary" if notice %>
      <%= tag.p alert, class:"alert alert-error alert-danger" if alert %>
      <%= yield %>
    </div>

    <footer class="my-auto py-2 bg-info text-center">
      <small>© 2022, Yamada Yuji, All rights reserved.</small>
    </footer>
  </body>
</html>
